@charset "utf-8";
body {
    background: #514583;
    color: #fff;
    margin: 0;
}

#header{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 20px;
}
#content{
    background: #fff;
    color: #333;
    padding: 10px 20px 40px 20px;
}
#footer {
    padding: 6px 10px;
    text-align: right;
}